<h2>Editing Kudo</h2>

<%= render 'form', kudo: @kudo %>

<%= link_to 'Show', team_kudo_path(@team, @kudo) %> |
<%= link_to 'Destroy', @kudo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', team_kudos_path(@team) %>
