/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background: #FFFFFF;
}

*  {
    margin: 0;
    padding: 0;
    color: #144955;
}

.ital {
   font-style: italic;   
}

.large {
    font-size: 120%;
    margin-top: 10px;
}

#alert {
    color:red;
}

a {
    color: #F14C38;
    text-decoration: none;
}

a:hover {
    background: #F14C38;
    color: #FFFFFF;
    text-decoration: none;
}

h2 {
    margin-top: 10px;
}

#wrapper {
    width: 80%;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: #F4F1E0; 
}

body {
    font-family: Inconsolata, sans-serif;
}

#kudo_comment {
    width: 400px;
}

textarea {
    height: 90px;
    width: 400px;
}

/*
blublak, red, beige, white
#144955, #F14C38, #F4F1E0, #FFFFFF
*/