<% if current_account.needs_customization? %>
  <h1>Creating Account</h1>
<% else %>
  <h1>Editing Account</h1>
<% end %>

<%= render 'form', account: @account %>

<div>Teams:</div>
<% @account.teams.each do |team| %>
  <div>
    <%= link_to team.name, team %>
  </div>
<% end %>