<% if current_account.needs_customization? %>
  <h1>Creating Account</h1>
<% else %>
  <h1>Editing Account</h1>
<% end %>

<%= render 'form', account: @account %>

<% unless current_account.needs_customization? %>
  <div>Teams:</div>
  <% @account.teams.each do |team| %>
    <div>
      <%= link_to team.name, team %>
    </div>
  <% end %>
  <% if @account.teams.size == 0 %>
    <div class="large">
      <%= link_to "Join a team!", teams_url %>
    </div>
  <% end %>
<% end %>